{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "Digiseller API",
    "description": "Digiseller Public API",
    "contact": {
      "name": "Digiseller",
      "url": "https://my.digiseller.com/inside/api.asp"
    }
  },
  "host": "api.digiseller.com",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/api/agents/offer": {
      "get": {
        "tags": [
          "Agents"
        ],
        "summary": "Get seller products with agent offer",
        "operationId": "Agents_GetOffer",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.sellerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.onlyInStock",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "model.onlyIndividual",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "model.productName",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "model.productId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.ownerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cataloguer/categories": {
      "get": {
        "tags": [
          "CataloguerPublicApi"
        ],
        "operationId": "CataloguerPublicApi_GetByPage",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.rootCategoryId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cataloguer/categories/{categoryId}/products": {
      "put": {
        "tags": [
          "CataloguerPublicApi"
        ],
        "operationId": "CataloguerPublicApi_AddProduct",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.Requests.AddProductInCategoryRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/cataloguer/{categoryId}/attributes": {
      "get": {
        "tags": [
          "CataloguerPublicApi"
        ],
        "operationId": "CataloguerPublicApi_GetAttributes",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/clone/{product_id}": {
      "post": {
        "tags": [
          "Clone"
        ],
        "summary": "Clone (copy) product",
        "operationId": "Clone_Clone",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.CloneRequestViewModel"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/templates": {
      "get": {
        "tags": [
          "ComissionTemplate"
        ],
        "summary": "Get commission templates list",
        "operationId": "ComissionTemplate_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ComissionTemplate"
        ],
        "summary": "Create commission template",
        "operationId": "ComissionTemplate_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.Requests.CreateComissionTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/templates/{id}": {
      "post": {
        "tags": [
          "ComissionTemplate"
        ],
        "summary": "Edit commission template",
        "operationId": "ComissionTemplate_Edit",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.Requests.UpdateComissionTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ComissionTemplate"
        ],
        "summary": "Delete commission template",
        "operationId": "ComissionTemplate_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/templates/delete/{id}": {
      "post": {
        "tags": [
          "ComissionTemplate"
        ],
        "summary": "Delete commission template (POST)",
        "operationId": "ComissionTemplate_DeleteByPost",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/templates/apply": {
      "post": {
        "tags": [
          "ComissionTemplate"
        ],
        "summary": "Apply commission template to products",
        "operationId": "ComissionTemplate_Apply",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.Requests.ApplyComissionTemplateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/templates/products": {
      "get": {
        "tags": [
          "ComissionTemplate"
        ],
        "summary": "Get products linked to commission template",
        "operationId": "ComissionTemplate_GetProductsByTemplateId",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request.templateId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.productId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.priceMin",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "request.priceMax",
            "in": "query",
            "required": false,
            "type": "number",
            "format": "double"
          },
          {
            "name": "request.currency",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.language",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.maxComiss",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.minComiss",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.inAffiliate",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "request.notInAffiliate",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "request.onlyPayment",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "request.ownerId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ComissionTemplate"
        ],
        "summary": "Update products linked to commission template",
        "operationId": "ComissionTemplate_UpdateProductsByTemplateId",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.Requests.UpdateProductsTemplateByIdCommandRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/content/delete": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Delete product content (GET)",
        "operationId": "Content_DeleteGet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.productId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.contentId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/content/delete/all": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Delete all product content",
        "operationId": "Content_DeleteAll",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.productId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.variantId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/content/update/text": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Update product text content",
        "operationId": "Content_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.AffiliateProgram.ViewModels.UpdateTextContentByIdRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/content/update/file/v2": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Update product file content (v2)",
        "operationId": "Content_UpdateV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model.contentId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model.updateOld",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "model.productId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/content/add/file/{product_id}": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Add \"File\" type content",
        "operationId": "Content_AddFile",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Идентификатор товара",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Токен доступа",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[System.Collections.Generic.List[DigiAPI.TmpGoodsApi.ViewModels.FileModel]]"
            }
          }
        }
      }
    },
    "/api/product/content/add/files/{product_id}/{count}": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Add \"File\" type content from archive (up to 200)",
        "operationId": "Content_AddFiles",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Идентификатор товара",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Токен доступа",
            "required": true,
            "type": "string"
          },
          {
            "name": "count",
            "in": "path",
            "description": "Проверка количества товаров.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[System.Collections.Generic.List[DigiAPI.TmpGoodsApi.ViewModels.FileModel]]"
            }
          }
        }
      }
    },
    "/api/product/content/code/count": {
      "get": {
        "tags": [
          "Content"
        ],
        "summary": "Get auto-generated \"DigisellerCode\" code count",
        "operationId": "Content_GetCodeCount",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "query",
            "description": "Идентификатор товара",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "variant_id",
            "in": "query",
            "description": "Идентификатор варианта",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Токен доступа",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.CodeCountResponse]"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Content"
        ],
        "summary": "Update auto-generated \"DigisellerCode\" code count",
        "operationId": "Content_PutCodeCount",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "CodeCountRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.CodeCountRequest"
            }
          },
          {
            "name": "product_id",
            "in": "query",
            "description": "Идентификатор товара",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "variant_id",
            "in": "query",
            "description": "Идентификатор варианта",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Токен доступа",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.CodeCountResponse]"
            }
          }
        }
      }
    },
    "/api/product/content/add/text": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Add \"Text\" or \"Url\" type content",
        "operationId": "Content_AddText",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "description": "Токен доступа",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "body",
            "description": "Модель данных",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.ContentDTO.TextContent"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[System.Collections.Generic.IEnumerable[DigiAPI.TmpGoodsApi.ViewModels.TextResponseModel]]"
            }
          }
        }
      }
    },
    "/api/product/content/update/form": {
      "post": {
        "tags": [
          "Content"
        ],
        "summary": "Change product delivery form",
        "operationId": "Content_ChangeForm",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.External.ViewModels.Requests.ChangeProductFormRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/create/uniquefixed": {
      "post": {
        "tags": [
          "CreateProduct"
        ],
        "summary": "Create unique product with fixed price",
        "operationId": "CreateProduct_CreateUniqueFixed",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.UniqueFixedProduct"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.SuccessCreateViewModel]"
            }
          }
        }
      }
    },
    "/api/product/create/uniqueunfixed": {
      "post": {
        "tags": [
          "CreateProduct"
        ],
        "summary": "Create unique product with non-fixed price",
        "operationId": "CreateProduct_CreateUniqueUnfixed",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.UniqueUnfixedProduct"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.SuccessCreateViewModel]"
            }
          }
        }
      }
    },
    "/api/product/create/software": {
      "post": {
        "tags": [
          "CreateProduct"
        ],
        "summary": "Create software product",
        "operationId": "CreateProduct_CreateSoftware",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.SoftwareProduct"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.SuccessCreateViewModel]"
            }
          }
        }
      }
    },
    "/api/product/create/arbitrary": {
      "post": {
        "tags": [
          "CreateProduct"
        ],
        "summary": "Create arbitrary digital product",
        "operationId": "CreateProduct_CreateArbitrary",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.ArbitraryProduct"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.SuccessCreateViewModel]"
            }
          }
        }
      }
    },
    "/api/product/create/book": {
      "post": {
        "tags": [
          "CreateProduct"
        ],
        "summary": "Create book product",
        "operationId": "CreateProduct_CreateBook",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.BookProduct"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.SuccessCreateViewModel]"
            }
          }
        }
      }
    },
    "/api/product/platform/category/add/{product_id}/{category_id}": {
      "get": {
        "tags": [
          "CreateProduct"
        ],
        "summary": "Add product to marketplace subcategory",
        "operationId": "CreateProduct_AddToCategory",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "description": "Product identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "category_id",
            "in": "path",
            "description": "Subcategory identifier",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.ResponseViewModel]"
            }
          }
        }
      }
    },
    "/api/debates/v2/chats": {
      "get": {
        "tags": [
          "Debates"
        ],
        "summary": "Get order chat list",
        "operationId": "Debates_ChatsV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "filter_new",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "email",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "id_ds",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/debates/v2": {
      "get": {
        "tags": [
          "Debates"
        ],
        "summary": "Get chat messages by order",
        "operationId": "Debates_GetV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id_i",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "newer",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "old_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id_from",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id_to",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "hidden",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Debates"
        ],
        "summary": "Send message to order chat",
        "operationId": "Debates_PostV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id_i",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.ExtendedApi.Correspondence.Models.NewMessageRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/debates/v2/{id}": {
      "delete": {
        "tags": [
          "Debates"
        ],
        "summary": "Delete chat message",
        "operationId": "Debates_DelV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id_i",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/debates/v2/seen": {
      "post": {
        "tags": [
          "Debates"
        ],
        "summary": "Mark messages as read",
        "operationId": "Debates_SeenV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id_i",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/debates/v2/upload-preview": {
      "post": {
        "tags": [
          "Debates"
        ],
        "summary": "Upload preview image for chat attachment",
        "operationId": "Debates_UploadPreviewV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/debates/v2/chat-state": {
      "get": {
        "tags": [
          "Debates"
        ],
        "summary": "Get chat state (open/closed)",
        "operationId": "Debates_GetChatStateV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id_i",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Debates"
        ],
        "summary": "Change chat state (open/closed)",
        "operationId": "Debates_PostChatStateV2",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id_i",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "chat_state",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/dictionary/platforms/categories/{id}": {
      "get": {
        "tags": [
          "Dictionary"
        ],
        "summary": "Get marketplace platform categories",
        "operationId": "Dictionary_Categories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Platform code. Allowed values: plati | wmcentre | ggsel",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[System.Collections.Generic.List[DigisellerClasses.TmpGoodsApi.Models.DictionaryModels.PlatformCategory]]"
            }
          }
        }
      }
    },
    "/api/dictionary/platforms/subcategories/{category_id}": {
      "get": {
        "tags": [
          "Dictionary"
        ],
        "summary": "Get marketplace platform subcategories",
        "operationId": "Dictionary_Subcategories",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.External.ViewModels.Shared.ResultViewModel[System.Collections.Generic.List[DigisellerClasses.TmpGoodsApi.Models.DictionaryModels.PlatformSubcategory]]"
            }
          }
        }
      }
    },
    "/api/product/edit/book/{product_id}": {
      "post": {
        "tags": [
          "EditProduct"
        ],
        "summary": "Edit book product",
        "operationId": "EditProduct_Book",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.BookProduct"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/edit/software/{product_id}": {
      "post": {
        "tags": [
          "EditProduct"
        ],
        "summary": "Edit software product",
        "operationId": "EditProduct_Software",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.SoftwareProduct"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/edit/arbitrary/{product_id}": {
      "post": {
        "tags": [
          "EditProduct"
        ],
        "summary": "Edit arbitrary digital product",
        "operationId": "EditProduct_Arbitrary",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.ArbitraryProduct"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/edit/uniquefixed/{product_id}": {
      "post": {
        "tags": [
          "EditProduct"
        ],
        "summary": "Edit unique product with fixed price",
        "operationId": "EditProduct_UniqueFixed",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.UniqueFixedProduct"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/edit/uniqueunfixed/{product_id}": {
      "post": {
        "tags": [
          "EditProduct"
        ],
        "summary": "Edit unique product with non-fixed price",
        "operationId": "EditProduct_UniqueUnfixed",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.UniqueUnfixedProduct"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/edit/base/{product_id}": {
      "post": {
        "tags": [
          "EditProduct"
        ],
        "summary": "Edit base product parameters",
        "operationId": "EditProduct_Base",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "dto",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.DTO.Product"
            }
          },
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/edit/V2/status": {
      "post": {
        "tags": [
          "EditProduct"
        ],
        "summary": "Change product status (v2)",
        "operationId": "EditProduct_ChangeStatusV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.External.ViewModels.Requests.ChangeProductsStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/edit/prices": {
      "post": {
        "tags": [
          "EditProduct"
        ],
        "summary": "Bulk update product prices",
        "operationId": "EditProduct_UpdateProductsPrice",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "prices",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DigisellerClasses.TmpGoodsApi.Models.ProductsUpdate.UpdateProductsPriceRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/edit/UpdateProductsTaskStatus": {
      "get": {
        "tags": [
          "EditProduct"
        ],
        "operationId": "EditProduct_UpdateProductsTaskStatus",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/apilogin": {
      "post": {
        "tags": [
          "Login"
        ],
        "summary": "Verify seller credentials and signature, return token on success",
        "operationId": "Login_ApiLogin",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.Models.ApiLogin"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.Models.ApiLoginResponse"
            }
          }
        }
      }
    },
    "/api/messages/v2": {
      "get": {
        "tags": [
          "Message"
        ],
        "summary": "Get messages list",
        "operationId": "Message_GetMessages",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "date_from",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id_from",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "id_to",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "corr_id",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "only_unread",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/product/preview/add/images/{product_id}": {
      "post": {
        "tags": [
          "Preview"
        ],
        "operationId": "Preview_AddImages",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.PreviewModel]"
            }
          }
        }
      }
    },
    "/api/product/preview/add/videos/{product_id}": {
      "post": {
        "tags": [
          "Preview"
        ],
        "summary": "Add multiple product preview videos",
        "operationId": "Preview_AddVideos",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "preview",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.Models.PreviewVideoList"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.UrlContentModel]"
            }
          }
        }
      }
    },
    "/api/product/preview/options/{type}/{preview_id}": {
      "post": {
        "tags": [
          "Preview"
        ],
        "summary": "Manage product preview options",
        "operationId": "Preview_PreviewOptions",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "preview_id",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "options",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.Models.PreviewOptions"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options/list/{productId}": {
      "get": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Get product options list",
        "operationId": "ProductParameters_GetByProduct",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options/{parameterId}": {
      "get": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Get product option info",
        "operationId": "ProductParameters_GetByParam",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameterId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options": {
      "post": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Create product option",
        "operationId": "ProductParameters_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.External.ViewModels.Requests.CreateProductParameterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options/update": {
      "post": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Update product option",
        "operationId": "ProductParameters_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.External.ViewModels.Requests.EditProductParameterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options/{parameterId}/delete": {
      "get": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Delete product option (GET)",
        "operationId": "ProductParameters_DeleteAsGet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameterId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options/{parameterId}/variants/{variantId}": {
      "post": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Update option variant",
        "operationId": "ProductParameters_UpdateVariant",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameterId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "model",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.External.ViewModels.Requests.EditProductParameterVariantRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options/{parameterId}/variants": {
      "post": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Create option variants",
        "operationId": "ProductParameters_CreateVariant",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameterId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.External.ViewModels.Requests.CreateParameterVariantsRequestDto"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options/{parameterId}/variants/{variantId}/delete": {
      "get": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Delete option variant (GET)",
        "operationId": "ProductParameters_DeleteVariantAsGet",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "parameterId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "variantId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/options/precheck-settings/{productId}": {
      "get": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Get precheck settings for product options",
        "operationId": "ProductParameters_GetPrecheckSettings",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ProductParameters"
        ],
        "summary": "Update precheck settings for product options",
        "operationId": "ProductParameters_PutPrecheckSettings",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.External.ViewModels.ProductParametersPrecheckSettingsViewModel"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/{product_id}/data": {
      "get": {
        "tags": [
          "ProductsInfo"
        ],
        "summary": "Get product information",
        "operationId": "ProductsInfo_GetInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "product_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "q.product_id",
            "in": "query",
            "description": "Product identifier",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q.seller_id",
            "in": "query",
            "description": "Optional parameter, specify if using cart.\r\nSeller identifier of the product or your own identifier\r\n(if the product belongs to you or you added it to your store)",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q.currency",
            "in": "query",
            "description": "Partner UID (for accounting individual payouts)",
            "required": false,
            "type": "string"
          },
          {
            "name": "q.token",
            "in": "query",
            "description": "Token obtained from api/apilogin method, optional parameter.\r\nIf token and product belong to the same seller, num_in_stock parameter value will be visible in the response.\r\nIf invalid token is passed, HTTP status code 401 is returned.",
            "required": false,
            "type": "string"
          },
          {
            "name": "q.lang",
            "in": "query",
            "description": "Language for displaying information\r\n<example>ru-RU | en-US</example>",
            "required": false,
            "type": "string"
          },
          {
            "name": "q.showHiddenVariants",
            "in": "query",
            "description": "show hidden options variants",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/products/list": {
      "get": {
        "tags": [
          "ProductsList"
        ],
        "summary": "Fast product descriptions lookup by ID list",
        "operationId": "ProductsList_GetList",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated product IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Token from api/apilogin method (optional)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ProductsList"
        ],
        "summary": "Fast product descriptions lookup by ID list",
        "operationId": "ProductsList_PostList",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "description": "Request body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.ExtendedApi.Products.Models.VmProductListRequest"
            }
          },
          {
            "name": "ids",
            "in": "query",
            "description": "Comma-separated product IDs",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Language",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Token from api/apilogin method (optional)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/purchase/info/{invoiceID}": {
      "get": {
        "tags": [
          "Purchase"
        ],
        "summary": "Get purchase information by order ID",
        "operationId": "Purchase_Info",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoiceID",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.PurchaseModel]"
            }
          }
        }
      }
    },
    "/api/purchase/cart": {
      "get": {
        "tags": [
          "Purchase"
        ],
        "summary": "Get cart information (child orders list)",
        "operationId": "Purchase_CartInfo",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "invoice_id_cart",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "cart_uid",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.IResultViewModelOld[DigiAPI.TmpGoodsApi.ViewModels.CartInfoModel]"
            }
          }
        }
      }
    },
    "/api/seller-sells/v2": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Seller sales",
        "operationId": "Sales_GetSellerSellsV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "SellerSalesV2Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.ExtendedApi.Sales.Models.SellerSalesV2Request"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "string",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/agent-sales/v2": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Seller sales in partner role",
        "operationId": "Sales_GetAgentSalesV2",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "PartnerSalesV2Request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.ExtendedApi.Sales.Models.PartnerSalesV2Request"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "string",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DigiAPI.ExtendedApi.Sales.Models.SalesResponse"
            }
          }
        }
      }
    },
    "/api/sellers/account/receipts": {
      "get": {
        "tags": [
          "SellerAccount"
        ],
        "summary": "Get seller internal account receipts",
        "operationId": "SellerAccount_GetReceipts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request.type",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "request.codeFilter",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.count",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "request.currency",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "request.start",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "request.finish",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "request.allowType",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/sellers/account/balance/info": {
      "get": {
        "tags": [
          "SellerAccount"
        ],
        "summary": "Get extended seller balance info",
        "operationId": "SellerAccount_GetBalance",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/sellers/currency": {
      "get": {
        "tags": [
          "Sellers"
        ],
        "summary": "Get seller currency rates",
        "operationId": "Sellers_GetSellerCurrency",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "base_currency",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "USD",
              "RUB",
              "EUR",
              "UAH"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Sellers"
        ],
        "summary": "Set seller currency rate",
        "operationId": "Sellers_SetSellerCurrency",
        "consumes": [
          "application/json",
          "text/json",
          "application/x-www-form-urlencoded",
          "application/xml",
          "text/xml"
        ],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.Requests.SetSellerCurrencyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/token/perms": {
      "get": {
        "tags": [
          "Token"
        ],
        "summary": "Get token permissions list",
        "operationId": "Token_GetPerms",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    },
    "/api/purchases/unique-code/{unique_code}": {
      "get": {
        "tags": [
          "UniqueCode"
        ],
        "summary": "Search and verify payment by unique code",
        "operationId": "UniqueCode_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "unique_code",
            "in": "path",
            "description": "",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "DigiAPI.TmpGoodsApi.ViewModels.Requests.GetAccountReceiptsRequest": {
      "type": "object",
      "properties": {
        "Type": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "CodeFilter": {
          "type": "string"
        },
        "Page": {
          "format": "int32",
          "type": "integer"
        },
        "Count": {
          "format": "int32",
          "type": "integer"
        },
        "Currency": {
          "type": "string"
        },
        "Start": {
          "format": "date-time",
          "type": "string"
        },
        "Finish": {
          "format": "date-time",
          "type": "string"
        },
        "AllowType": {
          "type": "string"
        }
      }
    },
    "AccountReceiptsResponse": {
      "type": "object",
      "properties": {
        "<ReturnValue>k__BackingField": {
          "format": "int32",
          "type": "integer"
        },
        "<Description>k__BackingField": {
          "type": "string"
        },
        "<Data>k__BackingField": {
          "$ref": "#/definitions/DigiAPI.External.ViewModels.PageResultViewModel[DigiAPI.TmpGoodsApi.ViewModels.AccountOperationViewModel]"
        }
      }
    },
    "DigiAPI.External.ViewModels.PageResultViewModel[DigiAPI.TmpGoodsApi.ViewModels.AccountOperationViewModel]": {
      "type": "object",
      "properties": {
        "page": {
          "format": "int32",
          "type": "integer"
        },
        "count": {
          "format": "int32",
          "type": "integer"
        },
        "has_next_page": {
          "type": "boolean",
          "readOnly": true
        },
        "has_previous_page": {
          "type": "boolean",
          "readOnly": true
        },
        "total_count": {
          "format": "int32",
          "type": "integer"
        },
        "total_pages": {
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.AccountOperationViewModel"
          }
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.AccountOperationViewModel": {
      "type": "object",
      "properties": {
        "account_operation_id": {
          "format": "int64",
          "type": "integer"
        },
        "operation": {
          "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.AccountOperationDataViewModel"
        },
        "owner_id": {
          "format": "int32",
          "type": "integer"
        },
        "product": {
          "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.AccountOperationProductViewModel"
        },
        "condition": {
          "format": "int32",
          "type": "integer"
        },
        "code_check_datetime": {
          "format": "date-time",
          "type": "string"
        },
        "date_free": {
          "format": "date-time",
          "type": "string"
        },
        "free_description": {
          "type": "string"
        },
        "response": {
          "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.AccountOperationResponseViewModel"
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.AccountOperationDataViewModel": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "datetime": {
          "format": "date-time",
          "type": "string"
        },
        "percent": {
          "format": "double",
          "type": "number"
        },
        "price": {
          "format": "double",
          "type": "number"
        },
        "currency": {
          "type": "string"
        },
        "on_account": {
          "format": "double",
          "type": "number"
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.AccountOperationProductViewModel": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DigiAPI.TmpGoodsApi.ViewModels.LocalizationViewModel"
          }
        },
        "deleted": {
          "type": "boolean"
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.AccountOperationResponseViewModel": {
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "type": "string"
        },
        "viewed": {
          "type": "boolean"
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.LocalizationViewModel": {
      "description": "Localization",
      "required": [
        "locale",
        "value"
      ],
      "type": "object",
      "properties": {
        "locale": {
          "description": "Localization language. Example: ru-RU, en-US",
          "type": "string"
        },
        "value": {
          "description": "Text according to the specified localization",
          "type": "string"
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.Requests.GetAggregatorAccountReceiptsRequest": {
      "type": "object",
      "properties": {
        "Page": {
          "format": "int32",
          "type": "integer"
        },
        "Count": {
          "format": "int32",
          "type": "integer"
        },
        "Aggregator": {
          "type": "string"
        },
        "Order": {
          "type": "string"
        },
        "Code": {
          "type": "string"
        }
      }
    },
    "AccountExternalReceiptsResponse": {
      "type": "object",
      "properties": {
        "<ReturnValue>k__BackingField": {
          "format": "int32",
          "type": "integer"
        },
        "<Description>k__BackingField": {
          "type": "string"
        },
        "<Data>k__BackingField": {
          "type": "object"
        }
      }
    },
    "AgentSaleResponse": {
      "type": "object",
      "properties": {
        "<ReturnValue>k__BackingField": {
          "format": "int32",
          "type": "integer"
        },
        "<Description>k__BackingField": {
          "type": "string"
        },
        "<Info>k__BackingField": {
          "$ref": "#/definitions/AgentSaleInfo"
        }
      }
    },
    "AgentSaleInfo": {
      "type": "object",
      "properties": {
        "product_id": {
          "format": "int32",
          "type": "integer"
        },
        "product_name": {
          "type": "string"
        },
        "product_price": {
          "format": "double",
          "type": "number"
        },
        "product_currency": {
          "type": "string"
        },
        "seller_id": {
          "format": "int32",
          "type": "integer"
        },
        "seller_name": {
          "type": "string"
        },
        "agent_percent": {
          "format": "double",
          "type": "number"
        },
        "agent_amount": {
          "format": "double",
          "type": "number"
        },
        "agent_currency": {
          "type": "string"
        },
        "operation_type": {
          "format": "int32",
          "type": "integer"
        },
        "operation_date": {
          "type": "string"
        },
        "free_date": {
          "type": "string"
        },
        "state_amount": {
          "type": "string"
        },
        "feedback": {
          "type": "string"
        },
        "feedback_value": {
          "format": "int32",
          "type": "integer"
        },
        "referer": {
          "type": "string"
        }
      }
    },
    "DigiAPI.External.ViewModels.Requests.Affiliate.GetOfferGoodsRequest": {
      "type": "object",
      "properties": {
        "AgentId": {
          "format": "int32",
          "type": "integer"
        },
        "Currency": {
          "type": "string"
        },
        "ProductId": {
          "format": "int32",
          "type": "integer"
        },
        "ProductName": {
          "type": "string"
        },
        "Marketplace": {
          "format": "int32",
          "type": "integer"
        },
        "Individual": {
          "type": "boolean"
        },
        "InShop": {
          "type": "boolean"
        },
        "Available": {
          "type": "boolean"
        },
        "OrderField": {
          "type": "string"
        },
        "OrderMethod": {
          "type": "string"
        },
        "Page": {
          "format": "int32",
          "type": "integer"
        },
        "Count": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "System.Threading.CancellationToken": {
      "type": "object",
      "properties": {
        "IsCancellationRequested": {
          "type": "boolean",
          "readOnly": true
        },
        "CanBeCanceled": {
          "type": "boolean",
          "readOnly": true
        },
        "WaitHandle": {
          "$ref": "#/definitions/System.Threading.WaitHandle",
          "readOnly": true
        }
      }
    },
    "System.Threading.WaitHandle": {
      "type": "object",
      "properties": {
        "SafeWaitHandle": {
          "$ref": "#/definitions/Microsoft.Win32.SafeHandles.SafeWaitHandle"
        }
      }
    },
    "Microsoft.Win32.SafeHandles.SafeWaitHandle": {
      "type": "object",
      "properties": {
        "IsInvalid": {
          "type": "boolean",
          "readOnly": true
        },
        "IsClosed": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "DigiAPI.External.ViewModels.Requests.Affiliate.UpdateAgentOfferRequest": {
      "type": "object",
      "properties": {
        "agent_id": {
          "format": "int32",
          "type": "integer"
        },
        "global_percent": {
          "format": "int32",
          "type": "integer"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DigiAPI.External.ViewModels.Requests.Affiliate.ProductSettings"
          }
        }
      }
    },
    "DigiAPI.External.ViewModels.Requests.Affiliate.ProductSettings": {
      "type": "object",
      "properties": {
        "product_id": {
          "format": "int32",
          "type": "integer"
        },
        "percent": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DigiAPI.External.ViewModels.Requests.GetAgentLocksRequest": {
      "type": "object",
      "properties": {
        "Page": {
          "format": "int32",
          "type": "integer"
        },
        "Count": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DigiAPI.External.ViewModels.Requests.AddSellerAgentLockRequest": {
      "type": "object",
      "properties": {
        "seller_id": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "DigiAPI.External.ViewModels.Requests.DeleteSellerAgentLockRequest": {
      "type": "object",
      "properties": {
        "sellers": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "DigiAPI.External.ViewModels.Requests.SearchSellerRequest": {
      "type": "object",
      "properties": {
        "Query": {
          "type": "string"
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.Requests.GetAgentOffersRequest": {
      "type": "object",
      "properties": {
        "Filter": {
          "type": "string"
        },
        "Page": {
          "format": "int32",
          "type": "integer"
        },
        "Count": {
          "format": "int32",
          "type": "integer"
        },
        "Order": {
          "enum": [
            "SellerName",
            "CountLastMonth",
            "CountLastThreeMonth",
            "CountLastHalfYear",
            "ProductsCount",
            "ModifiedDate"
          ],
          "type": "string"
        },
        "Method": {
          "enum": [
            "Desc",
            "Asc"
          ],
          "type": "string"
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.Requests.DeleteAgentOffersRequest": {
      "type": "object",
      "properties": {
        "sellers": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "DigiAPI.TmpGoodsApi.ViewModels.Requests.RestoreAgentOffersRequest": {
      "type": "object",
      "properties": {
        "sellers": {
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        }
      }
    },
    "DigiAPI.External.ViewModels.Requests.GetSellerGoodsWithOfferRequest": {
[...]
